{% extends "layout.html" %}
{% block body %}

        <div class="container2">
          <p>Spotify doesn't know artist named {{ artist }} <br>
             Please, search again</p><br>
          <div id="contact-form">
            <form method="post" action="/search_artist">
              <input class="type-text" type="text" id="artist" name="artist" required="required" placeholder="Enter Artist"><br>
              <input class="btn btn-secondary btn-lg" type="submit" value="Find" id="submit-button">
            </form>

          </div>
        </div>

{% endblock %}
